
  <div class="container">
    <div class="sections">
      <div class="row mb-3">
        <div class="col-sm-12">
          <h1><span>My Sections</span></h1>
        </div>
      </div>
      <% @curriculums.each do |curriculum| %>
        <div class="row mb-3">
          <div class="col-sm-12">
          <h2 class="curriculum-subheader"><%= curriculum.name %></h2>
          <div class="cards">
          <% curriculum.sections.first(4).each do |section| %>
            <div class="card-rating">
              <%= link_to section_path(section) do %>
                <div class="card">
                  <div class="background-image" style="background-image: url(<%= curriculum.image %>)">
                  </div>

                  <div class="card-bottom">
                    <div class="description">
                      <h2><%="Section #{section.name}"%></h2>
                      <p> </p>
                    </div>

                    <div class="avatars">
                      <% section.users.take(4).each do |student| %>
                        <%= cl_image_tag(student.photo.url, class: "img-circle") %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>

                <%= link_to section_path(section) do %>
                <% @attempts = Section.find(section.id).users.includes(:attempts).map(&:attempts).flatten %>
                <% @correct_attempts = @attempts.select { |attempt| attempt.response == "Correct" }.count / @attempts.count.to_f * 100 %>
                <% @incorrect_attempts = @attempts.select { |attempt| attempt.response == "Incorrect" }.count / @attempts.count.to_f * 100  %>
                <div class="p-bar">
                  <div class="p-bar-margin">
                    <div class="progress" style="height: 10px">
                      <%= render 'shared/progress_bar', correct: @correct_attempts, incorrect: @incorrect_attempts %>
                    </div>
                  </div>
                </div>
                <% end %>
            </div>
          <% end %>
        </div>
      </div>
        </div>
      <% end %>
    </div>
    <div class="row curriculums" hidden>
     <h1><span>My Curriculums</span></h1>
      <div class="col-12">
      <div class="cards">
        <% @curriculums.each do |curriculum| %>
          <div class="card">
            <div class="background-image" style="background-image: url(<%= curriculum.image %>)">
            </div>
              <h2 class="title-style curriculum-subheader"> <%=curriculum.name %></h2>
              <div class="card-bottom curriculum">
                <div class="description">
                  <% curriculum.decks.each do |deck|%>
                    <div class="each-deck">
                      <%= link_to curriculum_deck_cards_path(curriculum, deck) do %>
                        • <%= deck.name %>
                      <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

