<div class="container">
  <canvas id="celebration"></canvas>

  <h1><span><%= @deck.name %></span></h1>

  <p>Great job, you've completed this deck! 👍</p>

  <div class="deck-score-container">
    <% unless @correct_answers.count == 0 %>
      <%= render 'shared/arc', color: 'green', percentage: (@correct_answers.count / @deck.cards.count.to_f) * 100,  size: 'medium', text: "Right" %>
    <% end %>
    <% unless @unsure_answers.count == 0 %>
      <%= render 'shared/arc', color: 'blue', percentage: (@unsure_answers.count / @deck.cards.count.to_f) * 100,  size: 'medium', text: "Unsure" %>
    <% end %>
    <% unless @wrong_answers.count == 0 %>
      <%= render 'shared/arc', color: 'red', percentage: (@wrong_answers.count / @deck.cards.count.to_f) * 100,  size: 'medium', text: "Wrong" %>
    <% end %>
  </div>

  <% unless @wrong_answers.count == 0 %>
    <% if @correct_answers.count == @deck.cards.count && @deck.cards.count > 1 %>
      <h2>You had all <%= pluralize(@wrong_answers.count, 'question') %> wrong</h2>
    <% else %>
      <h2>You had <%= pluralize(@wrong_answers.count, 'question') %> wrong</h2>
    <% end %>

    <% @wrong_answers.each do |wronganswer| %>
      <%= render 'shared/question-summary-card', responsestatus: wronganswer %>
    <% end %>
  <% end %>

  <% unless @unsure_answers.count == 0 %>
    <% if @unsure_answers.count == @deck.cards.count && @deck.cards.count > 1 %>
      <h2>You were unsure about all <%= pluralize(@unsure_answers.count, 'question') %></h2>
    <% else %>
      <h2>You were unsure about <%= pluralize(@unsure_answers.count, 'question') %></h2>
    <% end %>

    <% @unsure_answers.each do |unsureanswer| %>
      <%= render 'shared/question-summary-card', responsestatus: unsureanswer %>
    <% end %>
  <% end %>

  <% unless @correct_answers.count == 0 %>
    <% if @correct_answers.count == @deck.cards.count && @deck.cards.count > 1 %>
      <h2>You had all <%= pluralize(@correct_answers.count, 'question') %> right</h2>
    <% else %>
      <h2>You had <%= pluralize(@correct_answers.count, 'question') %> right</h2>
    <% end %>

    <% @correct_answers.each do |correctanswer| %>
      <%= render 'shared/question-summary-card', responsestatus: correctanswer %>
    <% end %>
  <% end %>

  <%= link_to "Back to dashboard", dashboard_user_path(@user), class: "back-dashboard-link" %>

</div>
