<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-9">
      <div class="row my-3">
        <div class="col-12">
          <h1><span>My feed</span></h1>

        </div>
      </div>
      <div class="row">
        <div class="col-md-3 py-3">
          <div class="d-flex justify-content-center my-3">
            <% if current_user.photo.file %>
              <%= cl_image_tag(current_user.photo, class: 'avatar-large') %>
            <% else %>
              <%= cl_image_tag("ptvra7owhsunxrse9zut.png", class: "avatar-large") %>
            <% end %>
          </div>
          <div class="d-flex justify-content-center">
            <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
          </div>
        </div>
        <div class="col-12-col-md-9">
          <div class="feed-container">
            <% @feed_events.each do |feed_event| %>
              <div class="feed-item">
                <div class="feed-item-icon">
                  <i class="fas fa-check-circle"></i>
                </div>
                <% if feed_event.about_user %>
                  <div class="feed-item-user">
                    <% if feed_event.about_user.photo.file %>
                      <%= cl_image_tag(result[:student].photo, class: "avatar-small") %>
                    <% else %>
                      <%= cl_image_tag("ptvra7owhsunxrse9zut.png", class: "avatar-small") %>
                    <% end %>
                    <span><strong><%= feed_event.about_user.first_name %> <%= feed_event.about_user.last_name %></strong></span>
                  </div>
                <% end%>
                <div class="feed-item-content">
                  <p><%= feed_event.title %></p>
                  <% unless feed_event.reminder_created %>
                    <%= simple_form_for(TodoItem.new) do |f| %>
                      <%= f.hidden_field :name, :value => feed_event.title %>
                      <%= f.hidden_field :feed_event, :value => feed_event.id %>
                      <%= f.submit "Create reminder", class: 'btn btn-yellow' %>
                    <% end %>
                  <% end %>
                  <!-- <button type="button" class="btn btn-yellow" data-toggle="modal" data-target="#myModal">Create reminder</button> -->
                </div>
                <div class="feed-item-date">
                  <%= time_ago_in_words(feed_event.created_at) %> ago
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



