<div class="container mx-auto">
  <div class="sections">
    <div class="row mx-0">
      <h1><span>My feed</span></h1>
      <div class="feed-container">
        <% @feed_events.each do |feed_event| %>
          <div class="feed-item">
            <div class="feed-item-icon">
              <i class="fas fa-check-circle"></i>
            </div>
            <% if feed_event.about_user %>
              <div class="feed-item-user">
                <% if feed_event.about_user.photo.file %>
                  <%= cl_image_tag(result[:student].photo, class: "avatar-small") %>
                <% else %>
                  <%= cl_image_tag("ptvra7owhsunxrse9zut.png", class: "avatar-small") %>
                <% end %>
                <span><strong><%= feed_event.about_user.first_name %> <%= feed_event.about_user.last_name %></strong></span>
              </div>
            <% end%>
            <div class="feed-item-content">
              <p><%= feed_event.title %></p>
              <button type="button" class="btn btn-yellow" data-toggle="modal" data-target="#myModal">Create reminder</button>
            </div>
            <div class="feed-item-date">
              <%= time_ago_in_words(feed_event.created_at) %> ago
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h2>New Reminder</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body">
        <%= simple_form_for(TodoItem.new) do |f| %>
          <%= f.input :name, :value => "" %>
          <%= f.submit "Add reminder", class: "btn btn-yellow" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
