<div class="container mx-auto">
  <div class="sections">
    <div class="row mx-0">
      <h1><span>My feed</span></h1>
      <div class="feed-container">
        <% @feed_events.each do |feed_event| %>
          <div class="feed-item">
            <% if feed_event.about_user %>
              <div class="feed-item-user">
                <% if feed_event.about_user.photo.file %>
                  <%= cl_image_tag(result[:student].photo, class: "avatar-small") %>
                <% else %>
                  <%= cl_image_tag("ptvra7owhsunxrse9zut.png", class: "avatar-small") %>
                <% end %>
                <span><%= feed_event.about_user.first_name %> <%= feed_event.about_user.last_name %></span>
              </div>
            <% end%>
            <%= feed_event.title %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
