<div class="question-summary-card">
  <div class="short-answer">
    <p>"<em><%= responsestatus.card.question.truncate(100) %></em>"</p>
    <p>The correct answer was <strong><%= responsestatus.card.correct_answer.downcase %></strong></p>
    <p class="expand-card btn btn-yellow btn-details">Learn more</p>
  </div>
  <div class="long-answer">
    <p>"<em><%= responsestatus.card.question %></em>"</p>
    <p>The correct answer was <strong><%= responsestatus.card.correct_answer.downcase %></strong></p>
    <% unless responsestatus.card.resource.nil? %>
      <p><%= responsestatus.card.resource.text %></p>
      <% if responsestatus.card.resource.name.downcase.include?("video") %>
        <% video_id = responsestatus.card.resource.url.match(/^.*(youtu\.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/) %>
        <div class="video-container">
          <iframe src="http://www.youtube.com/embed/<%= video_id[2] %>"></iframe>
        </div>
      <% elsif responsestatus.card.resource.url.match(/.jpg/) %>
        <%= image_tag '' %>
      <% elsif responsestatus.card.resource.url %>
        <p><%= link_to '<i class="fas fa-link"></i> Click here to open'.html_safe, responsestatus.card.resource.url, target: :_blank %></p>
      <% end %>
    <% end %>
    <p class="collapse-card expand-card btn btn-yellow btn-details">Show less</p>
  </div>
</div>
