<div class="container">
  <div class="sections">
    <div class="row justify-content-md-center">
      <div class="col-sm-12 col-md-9">

        <div class="row mb-3">
          <div class="col-12">
            <h1><span>Section <%= @section.name %></span></h1>
            <h2> <i class="fas fa-book"></i><%= @section.curriculum.name %> </h2>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-9">
            <h4>Decks</h4>
            <% @section.curriculum.decks.each do |deck| %>
              <% if deck.due_date > Date.today %>
                <div class="deck-list-item">
                  <div class="deck-list-item-image"></div>
                  <div class="deck-list-item-info">
                    <span> <%= link_to deck.name, section_deck_path(@section, deck) %> </span>
                  </div>
                  <div class="progress-bar">
                    <% results = deck.deck_results(@section) %>
                     <%= render 'shared/progress_bar', correct: results[:correct], incorrect: results[:incorrect] %>
                  </div>
                </div>
              <% end %>
            <% end %>

            <% if @section.curriculum.decks.count { |deck| deck.due_date < Date.today } > 0 %>
              <h4>Past</h4>
              <% @section.curriculum.decks.each do |deck| %>
                <% if deck.due_date < Date.today %>
                  <div class="deck-list-item completed-deck">
                    <div class="deck-list-item-image d-flex align-items-center justify-content-center"><i class="fas fa-check"></i></div>
                    <div class="deck-list-item-info">
                      <span> <%= link_to deck.name, section_deck_path(@section, deck) %> </span>
                    </div>
                    <div class="progress-bar">
                      <% results = deck.deck_results(@section) %>
                     <%= render 'shared/progress_bar', correct: results[:correct], incorrect: results[:incorrect] %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% else %>
              <p>There are currently no completed decks</p>
            <% end %>
          </div>

          <div class="col-sm-12 col-md-3">


            <div class="container student-list">
              <% if @section.users.empty? %>
                <span>There are no registered students for this section</span>
              <% else %>
                <p><%= pluralize(@section.users.count, 'student') %> enrolled</p>
                <% @section.users.each do |user| %>
                  <div class="student-info pl-0">
                    <% if user.photo.file %>
                      <%= cl_image_tag(user.photo, class: "avatar-small") %>
                    <% else %>
                      <%= cl_image_tag("man-157699__340.png", class: "avatar-small") %>
                    <% end %>
                    <div class="student-list-content">
                      <div class="student-name">
                        <p><%= user.first_name %> <%= user.last_name %></p>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>


