<div class="container">
  <div class="row">
    <h1><span>Section <%= @section.name %></span></h1>
    <h2> <i class="fas fa-book"></i><%= @section.curriculum.name %> </h2>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-9">
      <h3>Outstanding Decks</h3>
      <% @section.curriculum.decks.each do |deck| %>
        <% if deck.due_date > Date.today %>
          <%= link_to section_deck_path(@section, deck) do %>
            <div class="deck-list-item">
              <div class="deck-list-item-image"></div>
              <div class="deck-list-item-info">
                <span> <%= deck.name %> </span>
              </div>
              <div class="progress-bar">
                <% result = deck.deck_results(@section) %>
                <%= render 'shared/progress_bar', correct: result[:correct], incorrect: result[:incorrect], unsure: result[:unsure] %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>


      <h3>Completed Decks</h3>
      <% @section.curriculum.decks.each do |deck| %>
        <% if deck.due_date < Date.today %>
          <%= link_to section_deck_path(@section, deck) do %>
            <div class="deck-list-item">
              <div class="deck-list-item-image"></div>
              <div class="deck-list-item-info">
                <span> <%= deck.name %> </span>

              </div>
              <div class="progress-bar">
                <% result = deck.deck_results(@section) %>
                <%= render 'shared/progress_bar', correct: result[:correct], incorrect: result[:incorrect], unsure: result[:unsure] %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="col-sm-12 col-md-3">
      <h3>Students</h3>
      <div class="section">
        <h4><%= pluralize(@section.users.count, 'student') %></h4>
        <div class="container student-list">
          <% if @section.users.empty? %>
            <p>There are no registered students for this section</p>
          <% else %>
            <% @section.users.each do |user| %>
              <div class="student-info border-bottom">
                <div class="avatar-small" style="background-image: url(https://picsum.photos/400)">
                </div>
                <div class="student-list-content">
                    <div class="student-name">
                      <p><%= user.first_name %> <%= user.last_name %></p>
                    </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
