<div class="container">
  <h1><span> Add a Resource </span></h1>
  <div class="row">
    <%= simple_form_for [@curriculum, @deck, @resource], :method => :post do |f| %>
      <div class="col-12 col-md-6">
        <%= f.input :name %>
      </div>
      <div class="col-12 col-md-6">
        <%= f.input :text %>
      </div>
      <div class="col-12 col-md-6">
        <%= f.input :url %>
      </div>
      <div class="col-12 col-md-6">
        <%= f.input :card, collection: @cards,  label_method: :question%>
      </div>
      <div class="col-md-12">
        <%= f.submit "Create Resource"%>
      </div>
    <% end %>
  </div>
</div>
