  <div class="container">
    <div class="col-sm-12">
      <h1><span> <%= @deck.name %></span><%= link_to '<i class="fas fa-pen heading-edit"></i>'.html_safe, edit_curriculum_deck_path(@curriculum, @deck) %> </h1>
      <button type="button" class="btn btn-yellow" data-toggle="modal" data-target="#myResourceModal">+ New Resource</button>
    </div>
    <div class="flashcard-grid column col-lg-3 col-6">
      <a data-toggle="modal" href="#myModal">
      <div class="flashcard flashcard-new">
        <div class="text d-flex align-items-center justify-content-center">
          <i class="fas fa-plus-circle"></i>
        </div>
        <div class="resources">
          <div class="resources-text">
          </div>
        </div>
      </div>
      </a>
      <% @deck.cards.each do |card| %>
        <div class="flashcard">
          <div class="text">
            <%= truncate(card.question, length: 100) %>
          </div>
          <div class="resources">
            <div class="resources-text">
              <% if card.resource %>
                <%= card.resource.name %>
              <% end %>
            </div>
            <div class="edit-link-icon">
              <%= link_to '<i class="fas fa-pen"></i>'.html_safe, edit_curriculum_deck_card_path(@curriculum, @deck, card) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<!-- New card modal content-->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2>New Card</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@curriculum, @deck, @card], :method => :post do |f| %>
      <div class="form-inputs">
        <%= f.input :question%>
        <%= f.input :correct_answer %>
        <%= f.input :wrong_answer %>
        <%= f.input :resource, collection: @resources%>
        <a  data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Add new resource?
        </a>
        <div class="collapse" id="collapseExample">
          <p class="add-resource">
              <%= f.input :resource_name %>
              <%= f.input :resource_text %>
              <%= f.input :resource_url %>
          </p>
        </div>
      </div>
      <div class="form-actions">
        <%= f.submit "Create Card", class: "btn btn-yellow" %>
      </div>
    <% end %>
      </div>
    </div>
  </div>
</div>



<!-- New resource modal content-->
<div id="myResourceModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2>New Resource</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@curriculum, @deck, @resource], :method => :post do |f| %>
      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :text %>
        <%= f.input :url %>
        <%= f.input :card, collection: @cards, label_method: :question %>
      </div>
      <div class="form-actions">
        <%= f.submit "Create Resource", class: "btn-yellow new-card" %>
      </div>
    <% end %>
      </div>
    </div>
  </div>
</div>
