<div class="container">
  <h1><span> Add a Card <span> </h1>
  <div class="row">
    <%= simple_form_for [@curriculum, @deck, @card], :method => :post do |f| %>
      <div class="col-12 col-md-6">
        <%= f.input :question %>
      </div>
      <div class="col-12 col-md-6">
        <%= f.input :correct_answer %>
      </div>
      <div class="col-12 col-md-6">
        <%= f.input :wrong_answer %>
      </div>
      <div class="col-12 col-md-6">
        <%= f.input :resource, collection: @resources%>
      </div>
      <div class="col-md-12">
        <%= f.submit "Create Card"%>
      </div>
    <% end %>
  </div>
</div>

