<div class="container">
  <div class="row">
    <h1><%= @deck.name %></h1>
    <h2>Section <%= @section.name %></h2>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-4">
      <p>Correct: <%= @results[:correct] %></p>
    </div>
    <div class="col-sm-12 col-md-4">
      <p>Incorrect: <%= @results[:incorrect] %></p>
    </div>
    <div class="col-sm-12 col-md-4">
      <p>Not sure: <%= @results[:unsure] %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-5">
      <h3>Attention students</h3>
      <% @results_by_student.each do |result| %>
        <p><%= result[:student].first_name %>:
          <%= result[:results][:correct] %> | <%= result[:results][:incorrect] %> | <%= result[:results][:unsure] %>
        </p>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-5">
      <h3>Attention cards</h3>
      <% @results_by_card.each do |result| %>
        <p><%= result[1][:card].question %>:
          <%= result[1][:results][:correct] %> | <%= result[1][:results][:incorrect] %> | <%= result[1][:results][:unsure] %>
        </p>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-2">
      <h3>Deck info</h3>
      <p>Deck created: <%= time_ago_in_words(@deck.created_at) %>ago</p>
    </div>
  </div>
</div>
