  <div class="container">
      <div class="row mb-3">
        <div class="col-sm-12">


          <div class="row mb-3">
            <h1 style="width: 100%"><span><%= @deck.name %></span></h1>
            <h2>Section <%= @section.name %></h2>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-3">
              <%= render 'shared/arc', color: 'green', percentage: @results[:correct] , text: 'Correct', size: 'large' %>
            </div>
            <div class="col-sm-12 col-md-3">
              <%= render 'shared/arc', color: 'red', percentage: @results[:incorrect] , text: 'Incorrect', size: 'large' %>
            </div>
            <div class="col-sm-12 col-md-3">
              <%= render 'shared/arc', color: 'grey', percentage: @results[:unsure] , text: 'Unsure', size: 'large' %>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-9">
              <div class="deck-info d-flex align-items-center">
                <div class="deck-data">
                  <p><i class="far fa-calendar-plus"></i> <strong>Created</strong> <%= time_ago_in_words(@deck.created_at) %> ago</p>
                  <p><i class="fas fa-layer-group"></i> <strong>Cards</strong> <%= @deck.cards.count %></p>
                </div>
                <%= link_to "Edit deck", curriculum_deck_cards_path(@deck.curriculum, @deck), class: 'btn btn-yellow' %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-5">
              <div class="section">
                <% @section.users.each do |student| %>
                <div class="student-list-item">
                  <div class="student-info">
                    <% if student.photo.file %>
                      <%= cl_image_tag(student.photo, class: "avatar-small") %>
                    <% else %>
                      <%= cl_image_tag("ptvra7owhsunxrse9zut.png", class: "avatar-small") %>
                    <% end %>
                    <div class="student-name">
                        <p><%= student.first_name %> <%= student.last_name %></p>
                    </div>
                  </div>

                  <div class="attempts-bar">
                    <% student.deck_attempts(@deck).each do |attempt| %>
                      <% if attempt.response == "Correct" %>
                        <div class="attempt attempt-green" data-toggle="tooltip" title="<%= attempt.card.question %>"></div>
                      <% elsif attempt.response == "Incorrect" %>
                        <div class="attempt attempt-red" data-toggle="tooltip" title="<%= attempt.card.question %>"></div>
                      <% else %>
                        <div class="attempt attempt-grey" data-toggle="tooltip" title="<%= attempt.card.question %>"></div>
                      <% end %>
                    <% end %>
                  </div>

                </div>
                <% end %>

              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="section">
                <% @results_by_card.each do |result| %>
                  <div class="student-info">
                    <div class="student-list-content">
                      <div class="student-name">
                        <p><%= truncate(result[1][:card].question, length: 24) %></p>
                        <% attempts = result[1][:results][:attempts].to_f %>
                        <% correct = result[1][:results][:correct] == 0 ? 0 : (result[1][:results][:correct] / attempts) * 100 %>
                        <% incorrect = result[1][:results][:incorrect] == 0 ? 0 : (result[1][:results][:incorrect] / attempts) * 100 %>
                        <% unsure = result[1][:results][:unsure] == 0 ? 0 : (result[1][:results][:unsure] / attempts) * 100 %>
                      </div>

                        <%= render 'shared/arc', color: 'green', percentage: correct,  size: 'small' %>


                        <%= render 'shared/arc', color: 'red', percentage: incorrect,  size: 'small' %>


                        <%= render 'shared/arc', color: 'grey', percentage: unsure,  size: 'small' %>

                    </div>
                  </div>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>
  </div>

