  <div class="container">
    <div class="sections">
      <div class="row mb-3">
        <h1 style="width: 100%"><span><%= @deck.name %></span></h1>
        <h2>Section <%= @section.name %></h2>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-4">
          <%= render 'shared/arc', color: 'green', percentage: (@results[:correct] / @attempts_count.to_f) * 100, text: 'Correct', size: 'large' %>
        </div>
        <div class="col-sm-12 col-md-4">
          <%= render 'shared/arc', color: 'red', percentage: (@results[:incorrect] / @attempts_count.to_f) * 100, text: 'Incorrect', size: 'large' %>
        </div>
        <div class="col-sm-12 col-md-4">
          <%= render 'shared/arc', color: 'grey', percentage: (@results[:unsure] / @attempts_count.to_f) * 100, text: 'Unsure', size: 'large' %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-5">
          <div class="section">
            <h3>Attention students</h3>
            <% @results_by_student.each do |result| %>
            <div class="student-info border-bottom">
              <% if result[:student].photo.file %>
                <%= cl_image_tag(result[:student].photo, class: "avatar-small") %>
              <% else %>
                <%= cl_image_tag("ptvra7owhsunxrse9zut.png", class: "avatar-small") %>
              <% end %>

              <div class="student-list-content">
                <div class="student-name">
                  <p><%= result[:student].first_name %> <%= result[:student].last_name %></p>
                </div>
                <% unless result[:results][:correct] == 0 %>
                  <%= render 'shared/arc', color: 'green', percentage: (result[:results][:correct] / result[:results][:attempts].to_f) * 100,  size: 'small' %>
                <% end %>
                <% unless result[:results][:incorrect] == 0 %>
                  <%= render 'shared/arc', color: 'red', percentage: (result[:results][:incorrect] / result[:results][:attempts].to_f) * 100,  size: 'small' %>
                <% end %>
                <% unless result[:results][:unsure] == 0 %>
                  <%= render 'shared/arc', color: 'grey', percentage: (result[:results][:unsure] / result[:results][:attempts].to_f) * 100,  size: 'small' %>
                <% end %>
              </div>
            </div>
            <% end %>

          </div>
        </div>
        <div class="col-sm-12 col-md-5">
          <div class="section">
            <h3>Attention cards</h3>
            <% @results_by_card.each do |result| %>
              <div class="student-info border-bottom">
                <div class="student-list-content">
                  <div class="student-name">
                    <p><%= truncate(result[1][:card].question, length: 24) %></p>
                  </div>
                  <% unless result[1][:results][:correct] == 0 %>
                    <%= render 'shared/arc', color: 'green', percentage: (result[1][:results][:correct] / result[1][:results][:attempts].to_f) * 100,  size: 'small' %>
                  <% end %>
                  <% unless result[1][:results][:incorrect] == 0 %>
                    <%= render 'shared/arc', color: 'red', percentage: (result[1][:results][:incorrect] / result[1][:results][:attempts].to_f) * 100,  size: 'small' %>
                  <% end %>
                  <% unless result[1][:results][:unsure] == 0 %>
                    <%= render 'shared/arc', color: 'grey', percentage: (result[1][:results][:unsure] / result[1][:results][:attempts].to_f) * 100,  size: 'small' %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-sm-12 col-md-2">
          <div class="section">
            <h3>Deck info</h3>
            <p><i class="far fa-calendar-plus"></i> Created: <%= time_ago_in_words(@deck.created_at) %> ago</p>
            <p><i class="fas fa-layer-group"></i> Cards: <%= @deck.cards.count %></p>
            <%= link_to "Edit deck", curriculum_deck_cards_path(@deck.curriculum, @deck) %>
          </div>
        </div>
      </div>
    </div>
  </div>

